[Desktop Entry]
Name=Tinta4PlusU
Comment=eInk display control (autostart)
Exec=/usr/local/bin/tinta4plusu --autostart
Icon=preferences-desktop-display
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
Hidden=false
